<footer class="row">
    <hr />
    <div class="span6">
        <p>&copy; 2017 Pablo Hinojosa</p>
    </div>
    <div class="span6">
        <ul class="inline pull-right">
            <li><a href="/archive.html">Archive</a></li>
            <li><a href="/tags.html">Tags</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="http://pablohinojosa.is">About me</a></li>
            <li><a href="https://github.com/pablohn26/pablohn26.github.io">Source</a></li>
            <li>
                <a href="https://github.com/Pablohn26/pablohn26.github.io/commits/master.atom" rel="alternate" type="application/rss+xml">
                    <img src="https://www.feedburner.com/fb/images/pub/feed-icon16x16.png" 
                    alt="" style="vertical-align:middle;border:0"/>
                </a>
            </li>
        </ul>
    </div>
</footer>
